nav{
display: flex;
justify-content: space-between;
border: 5px solid black;
padding: -10px;
}
.arte{
    display: flex;
    align-items: center;
    }
.links{
    display: flex;
    align-items: center;
}
.logo{
width: 100px;
}
.logo img{
    width: 100%;
}
h2{
    color: aliceblue;
    text-align: center;
}
.alebrije img{
    width: 100%;
}
.re a{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(185, 57, 57);
    border-radius: 2px;
    text-decoration: none;
}
.links a{
    border: 2px solid rgb(0, 0, 0);
text-decoration: none;
    border-radius: 10px;
}
.arte a{
    text-decoration: none;
    }
.parte1 a{
    color: aliceblue;
}
.Conoce a{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
}
.Parte2 a{
    border: 2px solid white;
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px;
}
.Verde{
    margin:10px;
    padding:10px;
}
main{

}
article{
    background-color: red;
}
.all{
    display: flex;
}
.alle{
    display: flex;
}
/*  estilo auxiliar */

a{
color: rgb(0, 0, 0);
align-items: center;
margin: 5px;
}
.parte1{
    background-color: green;
text-align: center;
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
    text-align: center;
}